@model CoursesViewModel
﻿@{
    var theme = Context.Request.Cookies["theme"] ?? "light";
    var isDarkMode = (theme == "dark") ? true : false;
}

@{
    ViewData["Title"] = "Courses";
}

<section class="courses"> 
    <div class="container">
        <div id="message" style="display: none;">Course bookmarked! (Actually it's not)</div>
        <div class="direct-links">
            <a asp-action="Home" asp-controller="Default"><i class="fa-sharp fa-regular fa-house"></i>Home</a>
            <i id="arrows" class="far fa-angle-double-right"></i>
            <a asp-action="Index" asp-controller="Courses">Courses</a>
        </div>
        <div class="header">
            <h1>Courses</h1>
            <form class="filters">
                
                <div class="select">
                    <div class="selected">All Categories</div>
                    <div class="select-options">
                        <div class="option" data-value="all">All Categories</div>

                        @if (Model.Categories != null)
                        {
                            @foreach (var category in Model.Categories)
                            {
                                <div class="option" data-value="@category.CategoryName">@category.CategoryName</div>
                            }
                        }

                    </div>

                </div>

                <div class="input-search-group">
                    <input id="searchQuery" name="SearchQuery" placeholder="Search courses" />
                    <i class="fa-regular fa-search"></i>
                </div>
            </form>
        </div>

        <div class="items">
            @if (Model.Courses != null)
            {
                @foreach (var course in Model.Courses)
                {
                    <a class="course" asp-action="Course" asp-controller="Courses" asp-route-id="@course.Id">
                        @if (course.IsBestseller)
                        {
                            <div class="bestseller">Best Seller</div>
                        }
                        <form>
                            <button class="btn btn-circle bookmark" onclick="showMessage()"><i class="fa-regular fa-bookmark"></i></button>
                        </form>
                        <img src="~/images/courses/@course.ImageUrl" alt="@course.Title"/>
                        <div class="content">
                            <h5 class="title">@course.Title</h5>
                            <p class="author">By @course.Author</p>
                            <div class="pricing">
                                @if (!string.IsNullOrEmpty(course.DiscountPrice))
                                {
                                    <div class="discount">@course.DiscountPrice</div>
                                }

                                <div class="original @(!string.IsNullOrEmpty(course.DiscountPrice) ? "discount-enabled" : "")">@course.OriginalPrice</div>
                            </div>
                            <div class="footer">
                                <div class="hours">
                                    <i class="fa-regular fa-clock"></i> @course.Hours hours
                                </div>
                                <div class="hours">
                                    <i class="fa-regular fa-thumbs-up"></i> @course.LikesInProcent (@course.NumberOfLikes)
                                </div>
                            </div>
                        </div>

                    </a>
                }
            }
        </div>

        @if (Model.Pagination != null && Model.Pagination.TotalPages > 1)
        {
            <div class="pagination">
                @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                {
                    if (i == Model.Pagination.CurrentPage)
                    {
                        <span class="number active">@i</span>
                    }
                    else
                    {
                        <a class="number" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.Pagination.PageSize})">@i</a>
                    }
                }
            </div>
        }
        <div class="work-container">
            <div class="work-text">
                <p>Ready to get started?</p>
                <h3>Take your <span>Skills</span> to the Next Level</h3>
                <a asp-action="Careers" asp-controller="Default" class="btn-theme btn-small shadow-theme">Work with us</a>
            </div>
            <img src="~/images/other/@(isDarkMode ? "illustration-dark.svg" : "illustration-light.svg")" alt="illustration" />
        </div>
    </div>
</section>
<script src="~/js/bookmarkMessage.js"></script>